[ <%= project_name %> ]
# quict and dirty nmap port scannaer, save a grepeable file called allPorts
sudo nmap -p- -sS --min-rate 5000 --open -v -n <%= target %> -oG allPorts

# spesific nmap port scanner, save result in file called target
nmap -sCV -p <%= ports %> <%= target %> -A -oN target
